@using Application.Contracts.Response
@model ConstructionSiteDetailsViewModel

<button class="btn btn-outline-primary" onclick="GetAddNewWorkedHours(@Model.ConstructionSite.Id)"> Add New </button>

<div class="alert alert-secondary mb-0">

    @if (Model.WorkedHours.Count != 0)
    {
        <dl class="mb-0">
            @foreach (var item in Model.WorkedHours)
            {
                <dt>
                    @item.WorkerName
                </dt>
                <dd>
                    Total @item.TotalHours hours
                </dd>
                <dd>
                    Paid @item.PaidHours hours
                </dd>
                <dd>
                    Unpaid @item.UnpaidHours hours
                </dd>
                <dd>
                    <form asp-action="PayWorker" asp-controller="Payments">
                        <input type="hidden" name="workerId" value="@item.WorkerId"/>
                        <input type="hidden" name="constructionId" value="@Model.ConstructionSite.Id"/>
                        <button type="submit" class="btn btn-outline-danger"> Pay remaning hours</button>
                    </form>

                    <a asp-action="Index" asp-controller="Payments" asp-route-constructionId="@Model.ConstructionSite.Id" asp-route-workerId="@item.WorkerId" class="btn btn-outline-primary">
                        See Payments 
                    </a>
                </dd>
            }
        </dl>
    }
    else
    {
        <span> Empty </span>
    }

</div>
