@model List<Persistence.Models.ConstructionSite>

@if (Model == null || !Model.Any())
{
    <tr>
        <td colspan="6">
            <div class="alert alert-info mb-0" role="alert">
                No Constructions Site found.
            </div>
        </td>
    </tr>
}
else
{
    @foreach (var item in Model)
    {
        <tr>
            <td class="text-truncate" style="max-width: 140px;">@item.Name</td>
            <td class="text-truncate" style="max-width: 140px;">@item.Description</td>
            <td class="text-truncate" style="max-width: 140px;">@item.Owner.FirstName @item.Owner.LastName</td>
            <td class="text-truncate" style="max-width: 140px"> @item.Owner.Email</td>
            <td class="text-truncate" style="max-width: 140px">
                @{
                    string message = string.Empty;
                    string buttonMessage = string.Empty;
                    if(item.IsActive)
                    {
                        message = $"Are you sure you wanna desactivate the construction Site {item.Name} ?";
                        buttonMessage = "Desactivate";

                        <span class="badge bg-success">Active</span>
                    }
                    else
                    {
                        message = $"Are you sure you wanna activate the construction Site {item.Name} ?";
                        buttonMessage = "Activate";

                        <span class="badge bg-secondary">Inactive</span>
                    }
                }
            </td>




            <td class="text-nowrap">
                <form asp-action="Delete"
                      asp-route-id="@item.Id"
                      method="post"
                      class="d-inline"
                      onsubmit="return confirm('@message')">
                    @Html.AntiForgeryToken()
                    <button type="submit" class="btn btn-outline-danger btn-sm">
                       
                        @if (item.IsActive)
                        {
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
                            </svg>
                        }
                        else
                        {
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-all" viewBox="0 0 16 16">
                                <path d="M8.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L2.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093L8.95 4.992zm-.92 5.14.92.92a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 1 0-1.091-1.028L9.477 9.417l-.485-.486z" />
                            </svg>
                        }

                        <span class="d-none d-sm-inline">
                            @buttonMessage
                        </span>
                    </button>
                </form>
            </td>

            @if(item.IsActive)
            {
                <td class="text-nowrap">
                    <button type="button"
                            class="btn btn-primary btn-sm"
                            data-bs-toggle="modal"
                            data-bs-target="#Model-@item.Id"
                            onclick="GetEditConstructionSiteForm(@item.Id)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                        </svg>
                        <span class="d-none d-sm-inline">Edit</span>
                    </button>

                    <!-- modal -->
                    <div class="modal fade" id="Model-@item.Id" tabindex="-1" aria-labelledby="Model-@item.Id-Label" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="Model-@item.Id-Label">@item.Name</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body" id="editPartial-@item.Id">
                                    <partial name="EditPartial" model="@item" />
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            }
            else
            {
                <td class="text-nowrap">
                    <button type="button" disabled
                            class="btn btn-primary btn-sm">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                        </svg>
                        <span class="d-none d-sm-inline">Edit</span>
                    </button>
                </td>
            }
            

            <td class="text-nowrap">
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-success btn-sm">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5" />
                        <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0z" />
                    </svg>
                    Open
               </a>
            </td>
        </tr>
    }
}
